{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Crear Asistencia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'crear_asistencia.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Crear Asistencia</h1>            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</body>
</html>