{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<footer class="bg-primary text-center text-lg-start text-white">
    <div class="container p-2"> <!-- Modificar el valor de 'p-2' para reducir el relleno vertical -->
      <div class="row">
        <!-- División superior -->
        <div class="col-lg-12 mb-4">
          <p class="text-center">Esta aplicación fue realizada por el grupo Binary Brains para el Proyecto Integrador del semestre de la Tecnicatura en Programación de la UTN de San Rafael</p>
        </div>
  
        <!-- División inferior -->
        <div class="col-lg-4 mb-4">
          <div class="row">
            <div class="col-lg-12">
              <img src="static\img\Binari Brains CIRCULO.png" alt="Imagen del equipo" class="img-fluid" width="150" height="150">
            </div>
          </div>
        </div>
  
        <div class="col-lg-8 mb-4">
          <h5>Integrantes</h5>
          <div class="row">
            <div class="col-lg-6">
              <a href="https://github.com/NataliaLiscio1985">Liscio Natalia</a>
            </div>
            <div class="col-lg-6">
              <a href="https://github.com/MolGuillermo">Molina Luis Guillermo</a>
            </div>
            <div class="col-lg-6">
              <a href="https://github.com/TamaraPiccinni">Piccinni Tamara</a>
            </div>
            <div class="col-lg-6">
              <a href="https://github.com/Carolina-Riddick">Riddick Carolina</a>
            </div>
            <div class="col-lg-6">
              <a href="https://github.com/mauriciosandrea">Sandrea Mauricio</a>
            </div>
            <div class="col-lg-6">
              <a href="https://github.com/LuciSere">Serezo Luciana</a>
            </div>
          </div>
        </div>
          
      </div>
    </div>
</footer>
