{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Asistencias</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="formulario">
    <h1>Gestión de Asistencias</h1>
    
    <a href="{% url 'index' %}">Ir a la página principal</a>
    <a href="{% url 'crear_asistencia' %}">Crear Asistencia</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Beneficiario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Presente</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for asistencia_item in asistencias %}
            <tr>
                <td>{{ asistencia_item.beneficiario }}</td>
                <td>{{ asistencia_item.fecha }}</td>
                <td>{{ asistencia_item.presente }}</td>
                <td>
                    <a href="{% url 'modificar_asistencia' asistencia_item.pk %}">Modificar</a>
                    <a href="{% url 'eliminar_asistencia' asistencia_item.pk %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>