{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Alumnos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Gestión de Alumnos</h1>
    <a href="{% url 'crear_alumno' %}">Crear Alumno</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>
                <td>
                    <a href="{% url 'modificar_alumno' alumno.pk %}">Modificar</a>
                    <a href="{% url 'eliminar_alumno' alumno.pk %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>