{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Asistencia Scout</title>
    <link rel="icon" type="image/x-icon" href="icons/faviconBB.ico"/>
    <link rel="icon" type="image/x-icon" href="{% static 'icons/faviconBB.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   

</head>

<body style="background-color: rgba(255, 255, 255, 0.3);" > <!-- Agregando transparencia al fondo del body -->
    <div class="container">
    <h1>Grupo Scout</h1><br>
    <div style="display: flex; justify-content: center;">
      <img src="static\img\flor de lis blanca.png" alt="Imagen del equipo" class="img-fluid" width="80" height="80">
    </div>
        <div class="formulario">
        <h2>Opciones</h2><br>         

          <a href="{% url 'gestion_beneficiarios' %}" class="btn btn-info">Gestión de Beneficiarios</a>
          <a href="{% url 'gestion_asistencias' %}" class="btn btn-info">Gestión de Asistencias</a>
    </div>
</div>
    




<footer class="footer" style="background-color: rgba(255, 255, 255, 0.3);"> <!-- Agregando transparencia al fondo del footer -->
  <!-- Section: Links  -->

  <div class="container py-2" style="max-width: 500px; height:235px">
    <h6 class=""></h6>
    <img src="static\img\Binary Brains.png" alt="Imagen del equipo" class="img-fluid" width="600" height="300">
    <div class="row" >
      <div class="col-md-2" >
        <h6 class="text-uppercase mb-4" style="font-size:12px;">LISCIO NATALIA</h6>
        <ul class="list-unstyled">
          <li><a href="https://github.com/NataliaLiscio1985" target="_blank" class="github-icon">
            <i class="fab fa-github" style="color: black;"></i>
            </a>
          </li>
          <li><a href="https://www.linkedin.com/in/natalialiscio" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase mb-4" style="font-size:12px;">MOLINA GUILLERMO</h6>
        <ul class="list-unstyled">
          <li><a href="https://github.com/MolGuillermo" target="_blank" class="github-icon">
            <i class="fab fa-github" style="color: black;"></i>
            </a>
          </li>
          <li><a href="https://www.linkedin.com/in/guillermo-molina-018ab5b6/" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase mb-4" style="font-size:12px;">PICCINNI TAMARA</h6>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/tamara-piccinni-5a354b143/" target="_blank" class="github-icon">
            <i class="fab fa-github" style="color: black;"></i>
            </a>
          </li>
          <li><a href="https://www.linkedin.com/feed/" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase mb-4" style="font-size:12px;">RIDDICK CAROLINA</h6>
        <ul class="list-unstyled">
          <li><a href="https://github.com/Carolina-Riddick" target="_blank" class="github-icon">
            <i class="fab fa-github" style="color: black;"></i>
            </a>
          </li>
          <li><a href="https://www.linkedin.com/in/carolina-riddick/" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase mb-4" style="font-size:12px;">SANDREA MAURICIO</h6>
        <ul class="list-unstyled">
          <li><a href="https://github.com/mauriciosandrea" target="_blank" class="github-icon">
            <i class="fab fa-github" style="color: black;"></i>
            </a>
          </li>
          <li><a href="https://www.linkedin.com/in/mauricio-enrique-sandrea-diaz-454943a1/" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase mb-4" style="font-size:12px;">SEREZO LUCIANA</h6>
        <ul class="list-unstyled">
          <li><a href="https://github.com/LuciSere" target="_blank" class="github-icon">
            <i class="fab fa-github" style="color: black;"></i>
            </a>
          </li>
          <li><a href="https://www.linkedin.com/in/LucianaSerezo" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
          </a>
          </li>
        </ul>
      </div>
  </div>
</div>
</footer>
</body>
</html>
<!-- Footer -->