/* * {
  background: linear-gradient(239deg, #6705fb, #2f0165);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
}


h1 {
  color: white;
    text-align: center;
  }
  
  a:hover {
    background-color: #45a049;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }


@-webkit-keyframes AnimationName {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes AnimationName {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
} */