/* 

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0c0b0e;
    
}
h1 h2 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-align: center;
    color: #202020;
    background-color: #3f0294;
}
.formulario {
    margin-top: 20px;
    text-align: center;
    background-color: #391f5e;
}
.formulario a {
    display: block;
    margin: 0.5px auto;
    padding: 10px 20px;
    background-color: #3f0294;
    color: #202020;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.formulario a:hover {
    background-color: #1e1e24;
} */