/* Estilos generales */

/* Configuración básica para el cuerpo y la página */
html{
  /* height: 50%; Hace que el cuerpo ocupe el 100% de la altura */ 
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: space-between; /* Distribuye el espacio verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  background-color: #350866; /* Establece el color de fondo */
  margin: 0; /* Elimina los márgenes */
  padding: 0; /* Elimina el relleno */
}

/* Configuración adicional para el cuerpo */
body {
  /* display: flex; Utiliza flexbox para el diseño */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  flex-grow: 1; /* Hace que el cuerpo crezca para ocupar el espacio disponible */
  padding: 20px; /* Agrega relleno alrededor del cuerpo */
  box-sizing: border-box; /* Incluye el relleno y el borde en el tamaño total */
  background-color: white;/* Color del fondo: Blanco*/
}

/* Configuración del contenedor principal */
.container {
  width: 100%; /* Hace que el contenedor ocupe el 100% de ancho */
  max-width: 600px; /* Establece el ancho máximo del contenedor */
  padding: 100px; /* Agrega relleno alrededor del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  background-color: #350866; /* Establece el color de fondo del contenedor */
  box-shadow: 0 2px 5px rgba(227, 218, 232, 0.1); /* Agrega una sombra al contenedor */
  border-radius: 10px; /* Agrega esquinas redondeadas al contenedor */
  margin-bottom: 20px; /* Agrega un margen inferior al contenedor */
  color: #86d6f6; /* Establece el color del texto titulos h1,h2*/
}

/* Estilos para títulos */
h1, h2 {
  text-align: center; /* Centra el texto del título */
  color: #fefefe; /* Establece el color del texto */
}

/* Estilos para listas */
ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el relleno de la lista */
}

/* Estilos para elementos de lista */
li {
  margin-bottom: 10px; /* Agrega un margen inferior a los elementos de la lista */
}

/* Estilos para enlaces */
a {
  text-decoration: none; /* Elimina la decoración de subrayado de los enlaces */
  color: #fcfcfc; /* Establece el color del texto del enlace */
}

/* Estilos para enlaces al pasar el mouse por encima */
a:hover {
  text-decoration: underline; /* Agrega un subrayado al pasar el mouse por encima del enlace */
}

/* Estilos para formularios */
.formulario {
  margin-top: 20px; /* Agrega un margen superior al formulario */
  text-align: center; /* Centra el texto del formulario */
  background-color: #350866; /* Establece el color de fondo del formulario */
  padding: 20px; /* Agrega relleno alrededor del formulario */
  border-radius: 10px; /* Agrega esquinas redondeadas al formulario */
  color: #86d6f6; /* Establece el color del texto del titulo h1*/
}

/* Estilos para enlaces dentro del formulario */
.formulario a {
  display: block; /* Convierte el enlace en un bloque */
  margin: 10px auto; /* Centra el enlace horizontalmente */
  padding: 10px 20px; /* Agrega relleno alrededor del enlace */
  background-color: #350866; /* Establece el color de fondo del enlace */
  color: #ffffff; /* Establece el color del texto del enlace */
  border: none; /* Elimina el borde del enlace */
  border-radius: 5px; /* Agrega esquinas redondeadas al enlace */
  text-decoration: none; /* Elimina la decoración de subrayado del enlace */
}


.table td {
  background-color: #350866; /* Establece el color de fondo del enlace */
  color: #ffffff; /* Establece el color del texto del enlace */
  border: none; /* Elimina el borde del enlace */
  border-radius: 5px; /* Agrega esquinas redondeadas al enlace */
  text-decoration: none; /* Elimina la decoración de subrayado del enlace */
  
}
th{
  color: #fcfcfc; /*cambiar los titulos color titulos en la tabla*/
}

/* Estilos para enlaces dentro del formulario al pasar el mouse por encima */
.formulario a:hover {
  background-color: #1c0058; /* Color previo = 663508 - Cambia el color de fondo del enlace al pasar el mouse por encima */
  width: auto
}

/* Estilos para formularios */
form {
  margin-bottom: 20px; /* Agrega un margen inferior al formulario */
}

/* Estilos para etiquetas de formulario */
form label {
  display: block; /* Convierte la etiqueta en un bloque */
  margin-bottom: 5px; /* Agrega un margen inferior a la etiqueta */
  font-weight: bold; /* Establece el peso de la fuente en negrita */
  color: #fefbfb; /* Establece el color del texto de la etiqueta */
}

/* Estilos para campos de entrada de texto, fecha y selección de formulario */
form input[type="text"],
form input[type="date"],
form select {
  width: 100%; /* Hace que los campos de entrada y selección ocupen el 100% de ancho */
  padding: 8px; /* Agrega relleno dentro de los campos de entrada y selección */
  border: 1px solid #ccc; /* Agrega un borde alrededor de los campos de entrada y selección */
  border-radius: 4px; /* Agrega esquinas redondeadas a los campos de entrada y selección */
  margin-bottom: 10px; /* Agrega un margen inferior a los campos de entrada y selección */
}

/* Estilos para botones de formulario */
form button {
  padding: 10px 20px; /* Agrega relleno alrededor del botón */
  background-color: #350866; /* Establece el color de fondo del botón */
  color: #fff; /* Establece el color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 4px; /* Agrega esquinas redondeadas al botón */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
}

/* Estilos para botones de formulario al pasar el mouse por encima */
form button:hover {
  background-color: #8329d2; /* Cambia el color de fondo del botón al pasar el mouse por encima */
}

/* Estilos para botones y enlaces */
.button {
  display: inline-block; /* Convierte el botón en un elemento en línea */
  padding: 10px 20px; /* Agrega relleno alrededor del botón */
  background-color: #ffffff; /* Establece el color de fondo del botón */
  color: white; /* Establece el color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Agrega esquinas redondeadas al botón */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
  margin-bottom: 10px; /* Agrega un margen inferior al botón */
}

/* Estilos para botones y enlaces al pasar el mouse por encima */
.button:hover {
  background-color: #ffffff; /* Cambia el color de fondo del botón al pasar el mouse por encima */
}

/* Estilos para los botones de la página principal */
.index-buttons {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: row; /* Alinea los botones en una fila */
  align-items: center; /* Centra los botones horizontalmente */
  justify-content: center; /* Centra los botones verticalmente */
  margin-top: 50px; /* Agrega un margen superior a los botones */
  width: 100%; /* Hace que los botones ocupen el 100% de ancho */
}

/* Estilos para los enlaces de la página principal */
.index-buttons a {
  display: inline-block; /* Convierte el enlace en un elemento en línea */
  padding: 10px 20px; /* Agrega relleno alrededor del enlace */
  font-size: 24px; /* Establece el tamaño de fuente del enlace */
  margin: 0 10px; /* Agrega un margen a los lados del enlace */
}

/*estilos listas*/
.table{
  margin-left: auto;
  margin-right: auto;
}
th{
  color: #fcfcfc; /*cambiar los titulos color titulos en la tabla*/
}
td{
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
}
tr{
  justify-items: center;
}

/*estilos avisos*/
.aviso{
  font-size: x-large;
}



/* FOOTER */
/* Estilos específicos para el footer */
footer {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    width: auto; /* Hace que el footer ocupe el 100% de ancho */

  /* background-color: #350866; Establece el color de fondo del footer */
  color: #ffffff; /*  Establece el color del texto del footer*/
  /* padding: 10px; Agrega relleno alrededor del footer */
  text-align: center; /* Centra el texto del footer*/

  /* position: fixed; Establece la posición fija del footer */
  /* bottom: 0; Fija el footer en la parte inferior */
  /* left: 0; Fija el footer a la izquierda */
  border-radius: 10px; /* Agrega esquinas redondeadas al footer*/
}




/* Estilos específicos para el footer */
/* .footer {
  margin-bottom: 50px; /* Agrega un margen inferior de 50px al footer */
  /* left: 0; /* Alinea el footer a la izquierda */
  /* right: 0; /* Alinea el footer a la derecha */
  /* padding: 10px; /* Agrega relleno alrededor del footer */
  /* background-color: #350866; /* Establece el color de fondo del footer */
  /* text-align: center;} /* Centra el texto del footer */ 


